system_uname=$( uname )
case $system_uname in
  Linux)
    ls_color_flag='--color=auto'
    ;;
  Darwin)
    ls_color_flag='-G'
    alias hd='hexdump -C'
    alias md5sum='md5'
    alias sha1sum='shasum'
    ;;
  *)
    ;;
esac

alias ls='ls ${ls_color_flag}'
alias la='ls -A'
alias ll='ls -alF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias myip='dig +short myip.opendns.com @resolver1.opendns.com'

alias bootstrap='source ~/dotfiles/deploy.sh -f'

alias idea='nohup idea &>/dev/null &'
