export EDITOR='vim';

export HISTSIZE='2000';
export HISTFILESIZE='${HISTSIZE}';

export GPG_TTY=$(tty)

system_uname=$( uname )
case $system_uname in
  Linux)
    export GOROOT=/usr/lib/go
    ;;
  Darwin)
    export GOROOT=/usr/local/opt/go/libexec
    ;;
  *)
    ;;
esac

export GOPATH=~/dev/go
export PATH=$PATH:$GOROOT/bin
