hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;

function findfile() {
	find . -iname "$@";
}

system_uname=$( uname )                                                                                                                                               
case $system_uname in
  Linux)
      function findstring() {
        grep -ri "$@";
      }
    ;;
  Darwin)
      function findstring() {
        grep -ri "$@" *;
      }
    ;;
  *)
    ;;
esac

function grc() {
	git rebase --onto $1~1 $1
}

function clear_ssh() {
  ssh-keygen -R $1
}

clear_scp() {
  clear_ssh $1;
  scp $2 d.greer@$1:~/$2
}

falcon() {
  if [[ $1 == *"dev"* ]]; then
    echo "Aloha"
    echo $1
  fi
  if [[ $1 == *"esvc"* || $1 == *"prod"* ]]; then
    echo "Matlock + yubikey"
  fi
  ssh -o LogLevel=ERROR -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null d.greer@bastion.syssec.foundation.$1.aws.sfdc.cl
}

falcon_scp() {
  clear_ssh bastion.syssec.foundation.$1.aws.sfdc.cl;
  scp $2 d.greer@bastion.syssec.foundation.$1.sfdc.cl:~/$2
}

